BODY {
  font-family: helvetica,arial,sans;font-size: 14px;
  margin-right: 50px; margin-left: 50px;
  margin-top: 5px; background-color: #e6f6f6
}
A{
  text-decoration: none; font-family: helvetica,arial,sans;
  color: #000080; font-weight: normal;font-size:14px;
}
TT{color:#400030; font-size: 14px}
pre {
  background-color: rgb(245, 245, 248);
  border: 1px solid rgb(110,130,150);
  padding: 4px; border-radius: 10px;
  font-size:12px;
}
TABLE.border {border: 1px solid rgb(110,130,150);}
TD {font-family: helvetica,arial,sans;font-size: 14px;
  margin-right: 5px; margin-left: 5px;}
TD.border {border: 1px solid rgb(110,130,150);}
TD.line {border-top:solid 1px}
TD.prel {
  font-family: monospace;font-size: 12px;
  background-color: rgb(215, 215, 215);color: #998866;
  border-right: solid 1px; border-left: solid 1px;
  border-top-left-radius: 10px;
  border-top:1px solid rgb(110,130,150);
  border-bottom-left-radius: 10px;
  border-bottom:1px solid rgb(110,130,150);
  padding: 4px;
  text-align: right;
}
TD.prer {
  font-family: monospace;font-size: 12px;
  background-color: rgb(245, 245, 248);
  border-right: solid 1px;
  border-top-right-radius: 10px;
  border-top:1px solid rgb(110,130,150);
  border-bottom-right-radius: 10px;
  border-bottom:1px solid rgb(110,130,150);
  padding: 4px;
}

.frame {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(110,130,150);
  font-family: helvetica,arial, sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
}
.frame2 {
  background-color: rgb(250, 250, 230);
  border: 1px solid rgb(110,130,150);
  font-family: helvetica,arial, sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
}
.navtop {
  font-family: monospace;font-weight: normal; font-size: 7pt;
  float: right; color: #998866;
}

.leftMenu {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(110,130,150);
  font-family: helvetica,arial, sans;font-size: 14px;
  padding: 4px;width:120px;vertical-align:top;
  color:#000080;white-space:nowrap;
}

.centralMenu {
  color:#000080;font-weight: bold;
  text-align:center;
}

.example {
  color:#898989;font-style:italic;
}

.title {
  font-family: helvetica,arial, sans;font-size: 18px;
  font-weight: bold; text-align: center;
  padding-bottom: 10px;
}

.hrShort {margin-top:-3px;margin-bottom:0px;}

.groupEdit {width:80%;}

.markHeader {
  border: 1px solid rgb(110,130,150);
  text-align:center;
}

.markField {
  text-align:right;width:50px;height:15px;
}

.markActivity {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(110,130,150);
  width:350px;
}

.markView {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(110,130,150);
  text-align:right;
  width:50px
}
